body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}

.text {
    outline: none;
    text-decoration: none;
}

.show {
    opacity: 0;
    animation: show_ani 1s forwards;
}

.hide {
    opacity: 0;
    /* animation: hide_ani 1s forwards; */
}

/* ------------------- */

.block-left {
    left: 0;
    top: 0;
    position: fixed;
    width:  33%;
    height: 100%;
    overflow: auto;
}

.pleer-header {
    font-family: sans-serif;
    font-size: large;
    font-weight: 500;

    margin: 0;
    position: absolute;
    top: 10%;
    left: 25%;
}

.now-track {
    color: white;
}

.play-button {
    color: greenyellow;
}

.play-button:hover {
    color: green;
}

.pause-button {
    color: rgb(255, 49, 49);
}

.pause-button:hover {
    color: rgb(125, 0, 0);
}

.time-score {
    color: rgb(181, 164, 255);
}

.volume-button {
    color: burlywood;
}

.score-button {
    color: burlywood;
}

/* ------------------- */

.block-center {
    left: 33%;
    top: 0;
    position: fixed;
    width:  33%;
    height: 100%;
    overflow: auto;
}

.tracks {
    font-family: sans-serif;
    font-size: large;
    font-weight: 500;
    
    margin: 0;
    position: absolute;
    top: 10%;
    left: 25%;
}

.track {
    color: white;
    /* animation: hide_ani 0.5s forwards; */
    /* transition: left 2s linear; */
}

.track.show {
    opacity: 0;
    animation: show_ani 1s forwards;
}

.album.show {
    opacity: 0;
    animation: show_ani 1s forwards;
}

@keyframes show_ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.track.hide {
    opacity: 1;
    animation: hide_ani 1s forwards;
}

@keyframes hide_ani {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.album-name {
    color: white;
}

.track:hover {
    color: rgb(95, 94, 94);
}

/* ------------------- */

.block-right {
    right: 0;
    top: 0;
    position: fixed;
    width:  33%;
    height: 100%;
    overflow: auto;
}

.albums {
    font-family: sans-serif;
    font-size: large;
    font-weight: 500;
    
    margin: 0;
    position: absolute;
    top: 10%;
    left: 25%;
}

.album {
    color: white;
}

.albums-head {
    color: white;
}

.album:hover {
    color: rgb(95, 94, 94);
}